<app-potrosac-navbar></app-potrosac-navbar>
<br>
<br>
<br>

<div class="float-container">

    <div class="float-child">
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card1">
                    <div class="card-header">
                        <h3>Dodaj jelo</h3>				
                    </div>
                    <div class="card-body">
                        <form  [formGroup]="porudzbinaForm">
                            <div class="input-group form-group">
                                <input type="text" class="form-control" formControlName="adress" placeholder="Adresa">	
                            </div>
                            <div class="input-group form-group">
                                <input [(ngModel)] = "cijena" value={{cijena}} type="number" class="form-control" formControlName="price" placeholder="Cijena">	
                            </div>
                            <div class="input-group form-group">
                                <input [(ngModel)] = "namirnice" value={{namirnice}} type="hidden"  class="form-control" formControlName="food" placeholder="Hrana">	
                                <span class="input-group-text"> {{namirnice}} </span>
                            </div>
                            <div class="input-group form-group">
                                <input type="text"  class="form-control" formControlName="comment" placeholder="Komentar">	
                            </div>
                            <div class="form-group">
                                <button (click) = "onSubmit()" class="btn float-right login_btn"> Naruci</button>
                            </div>
                        </form>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
    
    <div class="float-child">
        <ul>
            <li *ngFor="let item of Lista">
                
                <div class="container">
                    <div class="d-flex justify-content-center h-100">
                        <div class="card">
                                <div class="card-body">
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> Naziv jela </span>
                                            </div>
                                            <span class="input-group-text"> {{item.naziv}} </span>
                                        </div>
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> Cijena </span>
                                            </div>
                                            <span class="input-group-text"> {{item.cijena}} </span>
                                        </div>
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> Sastojci </span>
                                            </div>
                                            <span class="input-group-text"  > {{item.sastojci}} </span>
                                        </div>
                                        <form [formGroup]="kolicinaForm">
                                            <div class="input-group form-group">
                                                <input value="1" type="number" class="form-control" min="1" formControlName="kolicina">	
                                            </div>
                                            <div>
                                                <button (click) = "Dodaj(item)" class="btn float-right login_btn"> Dodaj</button>
                                            </div>
                                        </form>
                                </div>
                        </div>
                    </div>
                </div>
            </li>
          </ul>
    
  </div>
