<app-admin-navbar></app-admin-navbar>

<ul>
    <li *ngFor="let item of Lista">
        <br>
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                        <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img style="border-radius:30%;" width="150" height="200" src="{{item.image}}"></div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> Name </span>
                                    </div>
                                    <span class="input-group-text"> {{item.name}} </span>
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> Username </span>
                                    </div>
                                    <span class="input-group-text"> {{item.username}} </span>
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> Adress </span>
                                    </div>
                                    <span class="input-group-text"> {{item.adress}} </span>
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> Role </span>
                                    </div>
                                    <span class="input-group-text"> {{item.role}} </span>
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> BirthDay </span>
                                    </div>
                                    <span class="input-group-text"> {{item.date}} </span>
                                </div>
                                <div class="input-group form-group" *ngIf="item.status === 'Aktivan'">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> Status </span>
                                    </div>
                                    <span class="input-group-text"> {{item.status | uppercase}} </span>
                                </div>
                                <div class="input-group form-group" *ngIf="item.status === 'Odbijen'">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> Status </span>
                                    </div>
                                    <span class="input-group-text"> {{item.status | uppercase}} </span>
                                </div>
                                <div *ngIf="item.status === 'Na cekanju'">	
                                        <button (click) = "onSubmit(item)" class="btn float-none login_btn"> Accept</button>
                                        <button (click) = "decline(item)" class="btn float-none login_btn"> Decline</button>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </li>
  </ul>