<div *ngIf="korisnik.role == 'Admin'">
	<app-admin-navbar></app-admin-navbar>
</div>
<div *ngIf="korisnik.role == 'Potrosac'">
	<app-potrosac-navbar></app-potrosac-navbar>
</div>
<div *ngIf="korisnik.role == 'Dostavljac'">
	<app-dostavljac-navbar></app-dostavljac-navbar>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
				<div class="card-header">
					<h3>Change profile</h3>				
				</div>
				<div class="card-body">
					<form  [formGroup]="profileForm">
						<div class="d-flex flex-column align-items-center text-center p-3 py-5">
							<img style="border-radius:30%;"   width="150px" height="200" [src]="korisnik.image">
							<input type="file" (change)="onselectFile($event)">
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> Name </span>
							</div>
							<input [(ngModel)] = "korisnik.name" value={{korisnik.name}} type="text" class="form-control" formControlName="name" >	
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> Username </span>
							</div>
							<input [(ngModel)] = "korisnik.username" type="text" class="form-control" formControlName="username" value={{korisnik.username}} >	
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> Email </span>
							</div>
							<input [(ngModel)] = "korisnik.email" value={{korisnik.email}} type="text" class="form-control" formControlName="email" >	
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> Adress </span>
							</div>
							<input [(ngModel)] = "korisnik.adress" value={{korisnik.adress}} type="text" class="form-control" formControlName="adress" >	
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> Birthday </span>
							</div>
							<input [(ngModel)] = "datum" value={{datum}} type="date" class="form-control" formControlName="date" >	
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> Role </span>
							</div>
							<input [(ngModel)] = "korisnik.role" value={{korisnik.role}} type="text" class="form-control" formControlName="role" >	
						</div>
						<div class="input-group form-group" *ngIf="korisnik.role == 'Dostavljac'">
							<div class="input-group-prepend">
								<span class="input-group-text"> Status </span>
							</div>
							<span class="form-control" > {{korisnik.status}}</span>
						</div>
						<div class="form-group">
							<button (click) = "onSubmit()" class="btn float-right login_btn"> Apply</button>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
					<a style="color: darkturquoise;" href="/password">Change password</a>
					</div>				
				</div>
		</div>
	</div>
</div>
